// colors
$darkGreen: #5c8d89;
$green: #74b49b;
$lightGreen: #a7d7c5;
$veryLightGreen: #f4f9f4;
$darkGrey: #828282;
$white: #ffffff;
$lightGrey: #f2f2f2;

// font family
$fontFamily: "Mulish", serif;
$lightFont: 400;
$mediumFont: 500;
$heavyFont: 700;
$xMediumFont: 600;

// fonts
$logoFont: calc(1.25 * 31.42px);

$bgBgSite: #f9f9f9;
$stripLine: #e2e2e2;
$fontBlackColor: #3d3c42;
$fontBlueColor: #13a7c8;
$bgLightBlue: #f2fbfe;
